@charset "UTF-8";

@font-face {
font-family: "Montserrat";
src: url("./fonts/Montserrat-Regular.ttf") format("opentype");
}
@font-face {
    font-family: "MuseoSans";
    src: url("./fonts/MuseoSans-900.otf") format("opentype");
    }
$regular: "Montserrat";
$title: "MuseoSans";
$main-color: #004999;
$main-dark: #00418d;
$secondary-color: #e4022e;

@keyframes toggle{
    0%{
        opacity: 0;

    }
    30%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideright {
    from {
      opacity: 0.3;
      transform: translateX(100px);
     
    }
    to {
      opacity: 1;
      transform: translateX(0);
     
    }
  }
@keyframes es-pulse {
    0% {
        transform: scale(1);
      }
      70% {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }
    @keyframes es-pulse3 {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgb(218, 211, 210);

          
          }
          70% {
            transform: scale(1.05);
            box-shadow: 0 0 0 10px rgba(255, 26, 67, 0);
           
          }
          to {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(255, 206, 67, 0);
            
          }
        }
    @keyframes shake {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
      }
    @keyframes rotate {
       
        to{
            transform: rotate(360deg);

        }
    }
    @keyframes slide-in{
        0% {
            opacity: 0;
            left: -700px;
          }
    
          100% {
            opacity: 1;
            left: 0;
          }
    }

    @keyframes swing{
        0%{
            transform: rotate(0deg);
        }
        25%{
            transform: rotate(-3deg);
        } 
        75%{
            transform: rotate(3deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    img {
        max-width: 100%;
        display: block;
      }
    .es-mucoMini, #es-mucoMini{
    font-family: $regular;
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background-color: $main-color;
        .es-kv{
            background-image: url(./img/kv__bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 500px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            &__content{
                width: 60%;
                min-width: 300px;
                display: flex;
                justify-content: flex-end;
            }
            &__text{
                    width: max-content;
                    padding: 5px 20px;
                    text-transform: uppercase;
                    font-weight: 900;
                    transform: rotate(-2deg);
                    margin-bottom: 30px;
                    font-size: 45px;
                    border-radius: 5px;
                    font-family: $title;
                    p{
                        margin: 10px;
                        letter-spacing: 1px;
                    }
                &--red{
                    background-color: $secondary-color;
                    font-size: 35px;
                    margin: 0;
                    
                }
                &--blue{
                    background-color: $main-color;
                    transform: rotate(2deg);
                    margin: 0;
                    
                }
            }
            &__hiddenWords{
                animation: toggle 10s infinite;
            }
            &__packshot{
                img{
                    max-width: 260px;
                    animation: slideright 1s ease forwards;
                }
            }
            
        }
        .es-section{
            width: 100%;
            &__logo{
                margin-left: 50px;
            }
        }
        .es-intro{
            width: 100%;
            background-image: url(./img/intro_sectionBG.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 1000px;
            &__uppperContent{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            &__bgImg{
                position: absolute;
                z-index: 1;
                width: 220px;
                animation: rotate 35s linear infinite;
                
            }
            &__text{
                z-index: 10;
                margin-top: 50px;
                &--red{
                    text-align: center;
                    text-transform: uppercase;
                    padding: 5px;
                    transform: rotate(-3deg);
                    border-radius: 5px;
                    font-weight: 900;
                    font-family: $title;
                    font-size: 35px;
                    
                }
            }
            &__textImg{
                z-index: 10;
                max-width: 250px;
                margin-top: -28px;
            }
            &__textContent{
                margin: 50px 10px;
                width: 100%;
                text-align: center;
                p{
                    line-height: 1.1;
                    font-size: 20px;
                }
            }
            &__types{
                width: 60%;
                padding: 20px 50px;
                margin-top: 100px;
                
            }
            &__textTitle{
                text-transform: uppercase;
                font-weight: 900;
                font-family: $title;
            }
            &__textSubtitle{
                text-transform: uppercase;
                font-weight: 900;
                font-size: 20px;
                font-family: $title;
            }
            &__textDesc{
                font-size: 18px;
                line-height: 1.2;
                opacity: .9;
            }
        }
        .es-about{
            &__logo{
                margin: 30px auto;
                padding: 0px;
                margin-bottom: 0;
                
            }
            &__iconsCtn{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: -10px;
            }
            &__iconsSingle{
                min-width: 200px;
                min-height: 340px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                margin: 20px;
                p{
                    text-align: center;
                    text-transform: uppercase;
                    line-height: 1.2;
                    font-size: 20px;
                    font-weight: 900;
                    font-family: $title;
                    
                }
                &--short{
                    min-height: 180px;
                    p{
                        margin-top: -10px;
                    }
                }
            }
            &__biggerImg{
                width: 200px;
                min-height: 220px;
                animation: shake 2s infinite;
            }
            &__smallerImg{
                width: 100px;
                animation: shake 2s infinite;
                margin-bottom: 0;
            }
            &__flavourSection{
                background-image: url(/img/section_bg_short.png);
                background-repeat: no-repeat;
                background-position: right top;
                background-size: 20% 90%;
            }
            &__productCtn{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
               
            }
            &__imgText{
                margin-right: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 350px;
                    margin-bottom: 30px;
                }
            }
            &__imgProduct{
                position: relative;
                max-width: 300px;
            }
            &__berries{
                position: absolute;
                bottom: 2%;
                left: 25%;
                animation: es-pulse 2s infinite;
                z-index: 10;
                max-width: 220px;
            }
            &__text{
                margin-top: -40px;
                margin-left: -180px;
                transform: rotate(-3deg);
                background-color: $main-dark;
                width: max-content;
                padding: 10px 40px;
                font-size: 16px;
                font-weight: 900;
                clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);

                &::before{
                    content: url(./img/red-triangleBtn.png);
                    display:inline-block;
                    transform: rotate(-83deg);
                    width: 30px;
                }
            }
        }
        .es-video{
            margin: 0 auto;
            &__iframe {
                width: 100%;
                min-height:450px;
                z-index: 1;

              }
        }
        .es-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(./img/cross_bg.png);
            background-repeat: no-repeat;
            background-position: top left;
            background-size: 70% 90%;
            &__Btn{
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: $main-dark;
                clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
                padding: 10px 50px;
                p{
                    text-transform: uppercase;
                    font-weight: 900;
                    margin: 0px 20px;
                    font-family: $title;
                    letter-spacing: 1px;

                }
            }
            &__BtnIcon{
                height: 20px;
            }
           
            &__hiddenCtn{
                margin-top: 30px;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{margin: 5px;}

            }
            &__rotate{
                transform: rotate(180deg);
                transition: .5s ease-in-out;
            }
            &__active{
                display: flex;
                animation: slide-in 1s ease-in-out;
            }
        }
        .es-doze{
            margin-top: 40px;
            &__mainCTn{
                
            }
        }
        .es-ingr{
            margin-top: 40px;
            &__mainCtn{
               
            }
            &__subTitle{
                font-weight: 900;
                text-align: center;
            }
            &__desc{
                font-size: 18px;
                text-align: center;
                width: 90%;
            }
        }
        .es-cross{
            &__title{
                p{
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 35px;
                    text-align: center;
                    font-family: $title;
                }
            }
            &__Ctn{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
            &__Single{
                min-width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__img{
                position: relative;
                min-height: 400px;
                display: flex;
                align-items: flex-end;
            }
            &__badge{
                position: absolute;
                top:0;
                right: -50px;
                animation: es-pulse 2s infinite;
            }
            &__Content{
               text-align: center;
            }
            &__name{
                margin: 0;
                font-size: 18px;
                font-family: $title;
               
            }
            &__capacity{
                margin: 0;
                font-size: 16px;
                &--200{
                    font-size: 20px;
                }
            }
            &__link{
                display: inline-block;
                background-color: $secondary-color;
                color: #fff;
                text-decoration: none;
                padding: 5px 20px;
                font-weight: 900;
                font-size: 18px;
                transform: rotate(-3deg);
                margin-top: 20px;
                border: 2px solid $secondary-color;
                animation: swing 2s infinite;
                font-family: $title;

                &:hover{
                    transition: .5s ease-in-out;
                    transform: rotate(3deg);
                    background-color: #fff;
                    color: $main-color;
                }
            }
        }
        .es-footer{
            padding: 40px;
            &__claims{
                text-align: justify;
                font-size: 12px;
                opacity: .9;
                word-break: break-all;
                &--bigger{
                   font-size: 16px;
                   opacity: 1;
                }
            }
            &__bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 14px;
                    font-weight: 900;
                }
                img{
                  
                }
            }
        }
    }
    @media (max-width: 670px){
        .es-mucoMini, #es-mucoMini{
            .es-kv{
                background-position: center;
                align-items: flex-end;
                &__content{
                    width: 100%;
                    justify-content: center;
                    min-width: none;
                }
                &__packshot{
                   width: 100%;
                   display: flex;
                   justify-content: flex-end;
                    img{
                        max-width: 200px;
                    }
                }
                &__text{
                    font-size: 20px;
                }
            }
        }
    }
    @media (max-width: 510px){
        .es-mucoMini, #es-mucoMini{
            .es-kv{
                background-position: center;
                align-items: flex-end;
                &__content{
                    width: 100%;
                    justify-content: center;
                }
                &__packshot{
                   width: 100%;
                   display: flex;
                   justify-content: flex-end;
                    img{
                        max-width: 200px;
                    }
                }
            }
            .es-intro{
                width: 100%;
                &__types{
                    width: 90%;
                    padding: 20px 20px;
                    text-align: center;
                    margin-top: 20px;
                }
                &__textTitle{
                  max-width: 100%;
                  text-align: center;
                }
                &__textImg{
                    max-width: 100%;
                        width: 250px;
                }
                &__uppperContent{
                    margin-top: 50px;
                }
                &__textContent{
                    margin: 60px auto;
                  width: 90%;
                }
            }
            .es-section{
                &__logo{
                    margin-left: 10px;
                }
            }
            .es-about{
                &__logo{
                    max-width: 100%;
                    width: 250px;
                }
                &__imgText{
                    img{
                        max-width: 100%;
                    }
                    max-width: 250px;
                }
                &__imgProduct{
                    img{
                        align-self: center;
                        max-width: 300px;
                        margin: 0 auto;
                    }
                }
                &__berries{
                    max-width: 150px;
                    left: 30px;
                    bottom: 50px;
                }
                &__text{
                    margin-top: 50px;
                    margin-left: 0;
                    font-size: 18px;
                    padding: 10px 30px;
                }
            }
            .es-cross{
                &__title{

                }
                &__badge{
                    width: 100px;
                    right: -20px;
                    top: 10px;
                }
            }
        }
    }
